body, html {
    height:100%;
    margin:0;
    padding:0;
}

body {
    background-image:url('../immagini/background-body.jpg');
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

body, input, select {
	font-family:'Do Hyeon';
	font-size:24px;
}

input[type='button'], input[type='submit'] {
	border:none;
	transition:background 0.4s;
}

td input, td select {
	margin:5%;
	width:90%;
}

div.aggiungi, div.rimuovi, div.visualizza {
	height:33vh;
	width:100%;
	display:table-cell;
	vertical-align:middle;
}

/*************************************************/

div.container {
	width:70%;
	height:100vh;
	background-color:rgb(230,200,180);
	background-color:rgba(230,200,180,0.8);
}

div.container table {
	width:100%;
	text-align:center;
}

div.container form {
	padding:2%;
	width:90%;
	border:1px solid black;
}

div.container input[type='button'] {
	margin:1%;
	width:95%;
}

/*************************************************/

div.aggiungi {
	border:3px solid darkgreen;
}

div.aggiungi input[type='button'] {
	color:darkgreen;
}
div.aggiungi input[type='button']:hover {
	background:darkgray;
	color:lightgreen;
}

div.aggiungi input[type='submit'] {
	color:orange;
}
div.aggiungi input[type='submit']:hover {
	background:darkgray;
	color:red;
}

/*************************************************/

div.visualizza {
	border:3px solid orange;
}
/*************************************************/

div.rimuovi {
	border:3px solid red;
}